h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
body {
    background-color: black;
    color: white ;
    text-align: center;
}
div {
    width: 50%;
    margin-left: 25%;
}
img {
    width: 100%;
    border: 5px solid white;
}